table {
  border-collapse: collapse;
}

td, th {
  text-align: left;
  padding: 5px 15px;
}

td:nth-child(1), th:nth-child(1) {
  text-align: right;
}

tr:nth-child(even) {
  background-color: #ddd;
}
