td,
th {
  white-space: nowrap;
}

tr {
  border: none;
}

input {
  width: 30px;
  text-align: center;
}

input[readonly],
input[readonly]:focus {
  border: 1px solid #ccc;
  outline: #ccc;
}

.win i {
  color: green;
}

.draw i {
  color: #ff6f00;
}

.loss i {
  color: #d50000;
}
