td, th {
  white-space: nowrap;
}

tr {
  border: none;
  }

input {
  width: 30px;
  text-align: center;
}

input:read-only {
  border: 1px solid #CCC;
}

.win i {
  color: green;
}

.draw i {
  color: #FF6F00;
}

.loss i {
  color: #d50000;
}
