table {
  border-collapse: collapse;
  table-layout: fixed;
}

th:not(.text-left):not(.text-right), td:not(.text-left):not(.text-right) {
  text-align: center;
}

.short {
  width: 9%;
  white-space: nowrap;
}

.long {
  width: 20%;
}

th:nth-child(1) {
  width: 4%;
}

th:last-child, td:last-child {
  width: 3%;
}

th:last-child:hover::after {
  content: '';
}

th:hover {
  cursor: pointer;
}

th:not(.text-right):hover::after {
  font-family: "FontAwesome";
  position: absolute;
  padding-left: 5px;
}

th:not(.text-right):not(.selected):hover::after {
  content: '\f107';
}

th.selected::after {
  font-family: "FontAwesome";
  position: absolute;
  padding-left: 5px;
}

tr:not(.asc) th.selected::after {
  content: '\f107';
}

tr.asc th.selected::after {
  content: '\f106';
}

tr.highlighted {
  background-color: blanchedalmond !important;
}

tbody tr:hover {
  cursor: pointer;
  background-color: blanchedalmond;
}

tbody tr:nth-child(8) {
  border-bottom-style: double;
}
