table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
}

tr.highlighted {
  background-color: blanchedalmond;
}

tbody tr:hover {
  cursor: pointer;
  background-color: blanchedalmond;
}
