@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

header {
  position: relative;
  margin: 0 0 20px 0;
  background-color: darkorange;
  color: white;
  overflow: auto;
  padding: 25px 25px 10px 25px;
}

h1,
h3 {
  float: left;
  border: none;
  margin: 0;
  overflow: hidden;
}

.title--desktop {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.title--mobile {
  display: none;

  @include media-breakpoint-down(xs) {
    display: block;
  }
}

.subheading {
  @include media-breakpoint-down(xs) {
    display: none;
  }

  position: absolute;
  top: 63px;
  left: 280px;
  $size: 10px;
  font-size: $size;
  line-height: $size;
}

.subheading img {
  width: 20px;
  height: 20px;
}

div.user {
  float: right;
  color: white;
  cursor: pointer;
  overflow: hidden;
}
