.fixtures {
  padding: 10px;
}

.standing {
  padding: 25px;
  background: white;
}

h1 {
  background-color: firebrick;
  color: white;
  border: none;
  padding: 25px;
  margin: 0 0 20px 0;
  width: 100%;
  overflow: hidden;
}
