header {
  position: relative;
  margin: 0 0 20px 0;
  background-color: firebrick;
  color: white;
}

h1 {
  border: none;
  padding: 25px;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.subheading {
  position: absolute;
  top: 60px;
  left: 265px;
  font-size: 8px;
  line-height: 8px;
}

.subheading img {
  width: 20px;
  height: 20px;
}

.tool {
  position: absolute;
  top: 15px;
  right: 20px;
  color: white;
  text-align: center;
}

.tool img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
