<table class="table table-condensed">
  <thead>
    <tr>
      <th colspan="5">Upcoming Matches</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fixture of fixtures$ | async">
      <td class="text-right">{{fixture.teamA}}</td>
      <td class="text-center">-</td>
      <td>{{fixture.teamB}}</td>
      <td>
        <input [(ngModel)]="fixture.goalsA" (ngModelChange)="onFixtureChange()" /> : <input [(ngModel)]="fixture.goalsB"
          (ngModelChange)="onFixtureChange()" />
      </td>
    </tr>
  </tbody>
</table>
